@import '../utils/functions';
@import '../utils/variables';
@import '../modules/forms';
@import '~mobius1-selectr/dist/selectr.min.css';

.selectr {
  &-selected {
    @extend .form-element;
  }
  &-placeholder {
    color: $input-placeholder-color;
  }
  &-option {
    padding: add($input-padding-y, 2px) $input-padding-x;
    font-size: $input-font-size;

    &.active {
      background-color: $creme-gray;
      color: $base-text-color;
    }

    &.selected {
      font-weight: bold;
      &, &.active {
        background-color: $light-gray;
        color: $base-text-color;
      }
    }
  }
}