@import 'utils/functions';
@import 'utils/variables';
@import "modules/grid";
@import "modules/forms";
@import 'modules/buttons';
@import 'modules/tables';
@import 'components/select';

html {
  font-family: $font-family-base;
  font-size: $font-size-base;
}
body {
  background-color: $body-bg-color;
  color: $base-text-color;
}

// titles
.h1-title {
  font-size: $font-size-1;
  font-weight: 600;
}

.h2-title {
  font-size: $font-size-2;
  font-weight: 600;
}

// colors
.color-info {
  color: $comment-color;
}


// helpers
.content-align-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  max-width: 700px;
  margin: 50px auto 50px;
}

.panel {
  background-color: #ffffff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,.05);

  &__head {
    padding: 25px;
    border-bottom: 1px solid $light-gray;
    @extend .h1-title;
    color: $aqua-blue;
  }

  &__body {
    padding: 0 25px;
  }

  &__actions {
    padding: 15px;
    border-top: 1px solid $light-gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.section {
  width: 100%;

  &__head {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @extend .h2-title !optional;
    color: $title-color;
  }

  &__toggle-btn {
    width: 2rem;
    height: 2rem;
    border: $border-width solid $border-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    outline: none;
    cursor: pointer;

    img {
      width: 10px;
      height: 10px;
      transition: transform .3s ease-in;
    }

    &:hover {
      box-shadow: $input-btn-focus-box-shadow;
    }

    /*&.toggled {
      img {
        transform: rotate(180deg) translateY(-2px);
      }
    }*/
  }

  &__body {
    padding-bottom: 25px;
  }

  &__footer {
    padding-bottom: 25px;
  }

  &.toggled {
    .section__toggle-btn {
      img {
        transform: rotate(180deg) translateY(-2px);
      }
    }
  }
}

// Toggle accordeon
.accordion {
  &:not(.toggled) .section__body {
    display: none;
  }
}